<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Country" matInput [formControl]="countryControl" [matAutocomplete]="auto" (ngModelChange)="countryChange($event)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of countryOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="City" matInput [formControl]="cityControl" [matAutocomplete]="cityAuto" (ngModelChange)="cityChange($event)"
      matTooltip="Check the weather to filter the CITY you want to go">
    <mat-autocomplete #cityAuto="matAutocomplete">
      <mat-option *ngFor="let city of cityOption | async" [value]="city">
        {{ city }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button mat-dialog-close="go" cdkFocusInitial>Search</button>
  </div>
</form>
