<div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap ="30px" class="main">
  <div fxFlex="35%" fxFlex.sm="" fxFlexOrder="1" class="left">
    <!-- <app-location-search></app-location-search> -->
    <!-- <app-price-search></app-price-search> -->
  </div>
  <div fxFlex.xs="30%" fxFlexOrder="2" class="right">
    <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
  </div>
  <div fxFlex.xs="30%" fxFlexOrder="3" class="right">
      <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add to Cart</button>
            <button mat-button>Order</button>
          </mat-card-actions>
        </mat-card>
    </div>
</div>










      
