@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
main {
  padding-top: 3.5rem;
}
.social{
  height: 100px;
  background-color: #b99867;
}

i{
  font-size: 2em;
  color: white;
  margin-top: 20px;
  padding: 20px;
}

.footer-copyright{
  height: 300px;
  background-color: #294057;

}