@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
main {
  padding-top: 3.5rem;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}



.box {
  background: url('https://images.unsplash.com/photo-1519677100203-a0e668c92439') no-repeat center;
  background-size: cover;
  height: 100%;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.social{
  height: 100px;
  background-color: #b99867;
}

i{
  font-size: 2em;
  color: white;
  margin-top: 20px;
  padding: 20px;
}

.footer-copyright{
  height: 300px;
  background-color: #294057;

}
*/