<div class="row text-center header mt50">
  <div class="col-md-5"><hr></div>
  <div class="col-md-2"> <h4>New Arrivals</h4></div>
  <div class="col-md-5"><hr></div>
</div>
<!-- rowHeight="250px" -->
<mat-grid-list cols="{{test}}" rowHeight="1:1" class="boxes  text-center" (window:resize)="onResize($event)">
  <mat-grid-tile>
  
    <mat-card class="example-card">
    
      <img mat-card-image src="http://www.myusbgift.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/g/t/gttg03-06.png" alt="product1">
      <mat-card-content>
        <h3>
          International Multi-Plug
        </h3>
      </mat-card-content>
    </mat-card>
    
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-card class="example-card">
    
          <img mat-card-image src="https://qph.fs.quoracdn.net/main-qimg-49f98b664cbd33a1c24931f064ecb2c1-c" alt="product1">
          <mat-card-content>
            <h3>
              Weight 
            </h3>
          </mat-card-content>
        </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-card class="example-card">
    
          <img mat-card-image src="https://s2.r29static.com//bin/entry/cbd/0,0,2000,2400/720x864/1754832/image.png" alt="product1">
          <mat-card-content>
            <h3>
              Smart Luggage
            </h3>
          </mat-card-content>
        </mat-card>

  </mat-grid-tile>
</mat-grid-list>