.box {
    background-image: url('https://images.unsplash.com/photo-1519677100203-a0e668c92439');
    background-size: cover;
    height: 300px;
    margin-top: -15px;
    /* height: 100; */
    cursor: none;
    overflow: hidden
}

h1 {
    /* color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: "Roboto", Arial, sans-serif;
    font-size: calc(20px + 2vw);
    font-weight: 700;
    color: #fafafa;
    text-shadow: 2px 2px 2px #000;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
}
.spotlight {
    position: absolute;
    height: 300px;
    width: 92%;
    background-image: radial-gradient(
        circle,
        transparent 100px,
        rgba(0, 0, 0, 0.85) 160px
    );
}
