body {
  margin: 0;
  padding: 0;
}

.box {
  background: url('https://images.pexels.com/photos/208213/pexels-photo-208213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center;
  width: 100vw;
  height: 450px;
  cursor: none;
  overflow: hidden;
  box-shadow: 4px 4px 4px rgb(119, 116, 116);
}

h1 {
  /* color: red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: "Roboto", Arial, sans-serif;
  font-size: calc(20px + 2vw);
  font-weight: 700;
  color: #fafafa;
  text-shadow: 2px 2px 2px #000;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
}

.spotlight {
  height: 450px;
  background-image: radial-gradient(circle, transparent 100px, rgba(0, 0, 0, 0.85) 160px);
}

h1 {
  font-family: 'Dancing Script', cursive;
}
