<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Wanderlust
      <mat-icon>star</mat-icon>
    </a>
    <form class="form-inline">
      <a class="my-2 my-sm-0 mr-2 menuletters" [routerLink]="['/']">Home</a>
      
      <div *ngIf="!loggedIn">
        <a style="margin-right: 5px;" class="my-2 my-sm-0 menuletters" [matMenuTriggerFor]="loginMenu">Login</a>
        <mat-menu #loginMenu="matMenu">
          <a href="/login" role="button" mat-menu-item>Google/Email Login</a>
          <button mat-menu-item [matMenuTriggerFor]="facialrecog">Facial Recognition</button>
        </mat-menu>
        <mat-menu #facialrecog="matMenu">
          <a href="/facialrecogreg" role="button" mat-menu-item>Register</a>
          <a href="/facialrecoglogin" role="button" mat-menu-item>Login</a>
        </mat-menu>
      </div>
      <div *ngIf="loggedIn">
        <a [routerLink]="['/logout']" class="my-2 my-sm-0 menuletters">Logout</a>
      </div>
      <a [routerLink]="['/sellers']" class="my-2 my-sm-0 menuletters">Seller?</a>
      <span matBadge="{{sumQty}}" matBadgeColor="warn" matBadgeSize="medium">
        <button mat-mini-fab (click)="sidenav.open(); calculateSubtotal();">
          <i class="material-icons">add_shopping_cart</i>
        </button>
      </span>
    </form>
  </div>
</nav>

<!-- <app-landing (UserLoggedIn)="getUserInfo($event)"></app-landing> -->

<mat-sidenav-container class="slides" (backdropClick)="close()">
  <mat-sidenav class="slide-container" position="end" #sidenav (keydown.escape)="close('escape')" disableClose>
    <div id="cart">
      <h1 id="cart-word">Cart</h1>
      <button mat-button (click)="close()">
        <i class="material-icons" id="go-back">arrow_forward_ios</i>
      </button>
    </div>

    <div style="height: 450px; overflow: scroll;" class="scroll">
      <mat-grid-list cols="1" rowHeight="10em" style="margin: 0 15px;">

        <mat-grid-tile *ngFor="let product of cart">
          <mat-list>
            <button mat-icon-button (click) = "deleteFromCart(product._id)">
              <i class="material-icons delete">clear</i>
            </button>
            <mat-list-item>
              <h4 mat-line>{{product.name}}</h4>
              <p mat-line> Qty: 
                <mat-form-field style="width: 41px;">
                  <input type="number" matInput min="1" value="{{qty}}" (click) = "updateQty(product._id)" [(ngModel)]="qty">
                </mat-form-field>
              </p>
              <p mat-line> ${{product.price * product.qty}} </p>
              <img class="product-image" src={{product.imgUrl}}>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

    <div>
      <h1 id="subtotal">Subtotal
        <br> ${{subtotal}}
      </h1>
      <button id="large-button">View Cart</button>
    </div>

  </mat-sidenav>
</mat-sidenav-container>


<main class="container">

  <router-outlet></router-outlet>
</main>