<nav class="navbar ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Wanderlust <i class="material-icons">
        star
        </i></a>
    <form class="form-inline">
      <a class="my-2 my-sm-0 mr-2 menuletters" [routerLink]="['/']">Home</a>
      <a class="my-2 my-sm-0 mr-2 menuletters" href="/">Home</a>
      <a style="margin-right: 5px;" class="my-2 my-sm-0 menuletters" [matMenuTriggerFor]="loginMenu">Login</a>
      <mat-menu #loginMenu="matMenu">
        <a href="/login" role="button" mat-menu-item>Google/Email Login</a>
        <button mat-menu-item [matMenuTriggerFor]="facialrecog">Facial Recognition</button>
      </mat-menu>
      <mat-menu #facialrecog="matMenu">
          <a href="/facialrecogreg" role="button" mat-menu-item>Register</a>
          <a href="/facialrecoglogin" role="button" mat-menu-item>Login</a>
      </mat-menu>
      <a [routerLink]="['/logout']" class="my-2 my-sm-0 menuletters">Logout</a>
      <span matBadge="{{sumQty}}" matBadgeColor="warn" matBadgeSize="medium"></span>
    </form>
  </div>
</nav>

<h1>{{magicnumber | json }}</h1>

<mat-sidenav-container class="slides" (backdropClick)="close()">
  <mat-sidenav class="slide-container" position="end" #sidenav (keydown.escape)="close('escape')" disableClose>
    <div id="cart">
      <h1 id="cart-word">Cart</h1>
      <button mat-button (click)="close()">
        <i class="material-icons" id="go-back">arrow_forward_ios</i>
      </button>
    </div>

    <div style="height: 450px; overflow: scroll;" class="scroll">
      <mat-grid-list cols="1" rowHeight="10em" style="margin: 0 15px;">
        <mat-grid-tile>
          <mat-list>
            <button mat-icon-button>
              <i class="material-icons delete">clear</i>
            </button>
            <mat-list-item>
              <h4 mat-line>Product 1</h4>
              <p mat-line> Qty:
                <mat-form-field style="width: 41px;">
                  <input type="number" matInput min="1">
                </mat-form-field>
              </p>
              <p mat-line> $200 </p>
              <img class="product-image" src="https://store.storeimages.cdn-apple.com/4980/as-images.apple.com/is/image/AppleInc/aos/published/images/m/ac/macbook/select/macbook-select-rose-gold-201706?wid=539&hei=444&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1505775432023">
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-grid-tile>


        <mat-grid-tile>
          <mat-list>
            <button mat-icon-button>
              <i class="material-icons delete">clear</i>
            </button>
            <mat-list-item>
              <img class="product-image" src="https://store.storeimages.cdn-apple.com/4980/as-images.apple.com/is/image/AppleInc/aos/published/images/m/ac/macbook/select/macbook-select-rose-gold-201706?wid=539&hei=444&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1505775432023">
              <h4 mat-line>Product 1</h4>
              <p mat-line> Qty:
                <mat-form-field style="width: 41px;">
                  <input type="number" matInput min="1">
                </mat-form-field>
              </p>
              <p mat-line> $200 </p>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div>
      <h1 id="subtotal">Subtotal
        <br> $600.00
      </h1>
      <button id="large-button">View Cart</button>
    </div>

  </mat-sidenav>
</mat-sidenav-container>


<main class="container">

  <router-outlet></router-outlet>
</main>
