<div class="row text-center">
  <div class="col-md-12">
    <h4>Search by</h4>
  </div>
</div>
<!-- rowHeight="250px" -->
<mat-grid-list cols="{{test}}" rowHeight="1:1"  class="boxes  text-center" (window:resize)="onResize($event)">
  <mat-grid-tile>
    <img src="https://images.pexels.com/photos/346758/pexels-photo-346758.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
    <div class="box1" mat-raised-button (click)="byCountry()">
      <h5>By Country</h5>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://images.pexels.com/photos/319930/pexels-photo-319930.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
    <div class="box2" mat-raised-button (click)="byActivity()">
      <h5>By Activity</h5>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://images.pexels.com/photos/2371/person-looking-searching-clean.jpg?auto=compress&cs=tinysrgb&h=750&w=1260">
    <div class="box3" (click)="search()">
      <h5>Search</h5>
    </div>
  </mat-grid-tile>
</mat-grid-list>
