.boxes{
    margin-top: 20px;
    height: 350px;
}

img{
    width: 85%;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 80px;
    margin-top: 80px;
}

.box1, .box2, .box3{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background: rgba(253, 253, 253, 0.5);
    display: none;
    
}

/* .menu1:hover div{
    display: show;
} */

h5{
    margin-top: 100px;

}

.boxes:hover div{
    display: block;

}

h4{
   font-family: 'Dancing Script', cursive;
}
.searchbox{
    border: .8px solid grey;
}
h4{
    margin-top: 50px;
}

