<form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Product"  matInput [formControl]="activityControl" [matAutocomplete]="activeAuto" (ngModelChange)="activityChange($event)">
      <mat-autocomplete #activeAuto="matAutocomplete">
        <mat-option *ngFor="let active of activityOption | async" [value]="active">
          {{ active }}
        </mat-option>
      </mat-autocomplete> 
   </mat-form-field> 
   <div class="row text-center">
      <div class="col-md-12">
        <button mat-raised-button color="primary" value ="Search" (click)="createRating()" class="searchB">Search</button>
      </div>
    </div>
  </form>
